__pycache__/
neo4j-community-3.5.5/
Pyverilog/
parser.out
parsetab.py
rtl-repo/
iverilog*/
*.json.gz
*/.venv/
.venv/
benchmark/debugging/
benchmark/completion/
benchmark/search/*
!benchmark/search/blocks.json
!benchmark/search/signals.json
rag/bm25.py
rag/pure_similarity.py
dataset/
mrr.py
